---
import { Button } from "@/components/starwind/button";
import { ArrowRight } from "@lucide/astro";
export interface Props {
   title: string;
   description: string;
   imgSrc: string;
   category: string;
   href: string;
}

const { title, description, imgSrc, href } = Astro.props;
---

<article
   class='rounded-xl shadow-md overflow-hidden border border-gray-600 transition hover:shadow-lg h-full hover:brightness-110 hover:border-gray-500'
>
   <a href={href} class='flex
   flex-col
   h-full'>
      <img src={imgSrc} alt={title} class='w-full h-64 object-cover' />
      <div class='flex flex-col gap-4 p-4 grow'>
         <h3 class='text-xl font-semibold'>{title}</h3>
         <p class='text-sm opacity-80'>{description}</p>
         <Button variant='outline' size='sm' class='w-fit mt-auto'>
            Leer artículo completo <ArrowRight />
         </Button>
      </div>
   </a>
</article>
